@import url(../fonts/spincycle_regular_macroman/stylesheet.css);

html {
    height: 100%;
    
    background: black; /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

body {
    font-family: HelveticaNeue-Light, Helvetica, Arial, sans-serif;
    font-size: large;
    line-height: 1.3em;
    color: white;
    
    -webkit-perspective: 2000;
    -webkit-perspective-origin: 0% 0%;
    
    overflow: hidden;
}

h1 {
    font-family: spin_cycle_otregular, HelveticaNeue-Light, sans-serif;
    border-bottom: 1px solid white;
    line-height: 1em;
}

p { text-align: justify; }

figure {
    text-align: center;
}

figure img {
    max-width: 80%;
}

figcaption { margin-top:  0.3em;}

div#page {
    background: rgba(0,0,0, 0.5);
    margin: 2em 10%;
    padding: 2em;
    
    -webkit-transition: all 3s;
}

.positionAtSide {
    -webkit-transform: translate3d(-220px, 0px, -300px) rotateY(60deg);
    -webkit-box-reflect: below 0px -webkit-linear-gradient(bottom, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.07) 21%,rgba(0,0,0,0) 46%,rgba(0,0,0,0) 100%);
}

#LiberatorAnimation {
    border: 1px solid white;
    -webkit-box-reflect: below 0px -webkit-linear-gradient(bottom, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.07) 21%,rgba(0,0,0,0) 46%,rgba(0,0,0,0) 100%);
    position: absolute;
    top:200px;
    right: 10%;
    
    background: black;
    
    -webkit-transform: rotateY(-10deg) translate3d(200%, 0px, -200px);
    -webkit-transition: all 2s;
}

#LiberatorAnimation.appear {
    -webkit-transform: rotateY(-10deg) translate3d(0px, 0px, 0px);
}